:root{
  --aprendizaje: #fd7d7a;
  --desarrolloweb: #14A466;
  --javascript: #f6e01c;
  --github: #95c73f;
  --react: #68e4f9;
  --redux: #65f49f;
  --trading: #d7972c;
  --nodejs: #026e00;
  --ircserver: #4B86EE;
  --engcourse:#aa3d36;
  --xamppstack: #fb7a24;
  --fitness: #376f9c;
  --recetas: peachpuff;
  --pwa: #7cb2ec;
  --commentColor: #699754;
  --code_fn: #be70d4;
}
*, *:before, *:after {
  box-sizing: border-box;
}
html, body, section{
  scroll-behavior: smooth;
}
body{
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to bottom, gray, black);
  background-size: 100%;
}
strong{
  margin-bottom: 1rem;
}
/* dl{

}
dl.inline{

} */
/* MENU */
.navegacion{
  position: fixed;
  display: flex;
  height: 3rem;
  background-color: #333333;
  width: 100%;
  z-index: 3;
}
.icon-home{
  color: whitesmoke;
  line-height: 3rem;
  font-size: 1.5rem; 
  margin-left: .5rem;
  transition: all .3s ease;
  cursor: pointer;
}
.icon-home:active{
  cursor: pointer;
  color: var(--xamppstack);
}
.hamburguer{
  display: none;
  cursor: pointer;
  position: absolute;
}
.line{
  width: 30px;
  height: 3px;
  margin: 5px;
  background: white;
  transition: .3s;
  border-radius: 5px;
}
.hamburguer:hover .line:nth-of-type(1){
  transform: rotate(45deg) translate(0, 10px);
}
.hamburguer:hover .line:nth-of-type(2){
  opacity: 0;
}
.hamburguer:hover .line:nth-of-type(3){
  transform: rotate(-45deg) translate(0, -10px);
}
.lista_cursos{
  display: flex;
  margin-left:auto;
  margin-bottom: 0;
  padding: 0;
  max-width: 50%;
  overflow: auto;
  list-style: none;
  background-color: #333333;
}
.lista_cursos li{
  display: block;
  white-space: nowrap;
  padding: .5rem;
  color: whitesmoke;
  cursor: pointer;
  transition: all .3s ease;
}

.buscador{
  position: relative;
  border-bottom: #d9d9d9 1px solid;
  width: 10vw;
}
.search-form{
  position: relative;
  display: grid;
  grid-template-columns: 93% 7%;
  height: 100%;
}
.search-form::after, .search-form::before{
  content: '';
  position: absolute;
  bottom: -2px;
  width: 0;                        /*este efecto se aregara con js*/
  height: 2px;
  background-color: #32d39f;   /*cubre el fondo gris del bottom del div */
  transition: .3s;
}
.search-form::after{
  right: 50%;
}
.search-form::before{
  left: 50%;
}
.search-form.focus .icon-search{
  color: #38d39f;
}
.search-form.focus::after, .search-form.focus::before{
  width: 50%;
}
.search-form .icon-search{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #d9d9d9;
  transition: .3s;
}
.search-form input{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: none;        /* con estos 3 teoricamente desaparece el input */
    outline: none;         
    background: none;   
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    padding: .5rem .7rem;
    font-size: 1.2rem;
    color: #d9d9d9; 
}
.search-form span{
  display: inline-flex;
  align-items: center;
  width: 100%;
  line-height: inherit;
  color: whitesmoke;
}
.search-form span:hover{
  background-color: #333333;
  color: whitesmoke;
}

@media(max-width: 720px){
  .buscador{
    display: none;
    margin-left: auto;
  }
  .navegacion{
    bottom: 0;
  }
  .navegacion .hamburguer{
    display: block;
  }
  .navegacion .lista_cursos{
    display: block;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    right: -100vw;
    z-index: 999;
    transition: .3s;
  }
  .buscador{
    width: 30%;
    right: 0;
    bottom: 3rem;
  }
  .hamburguer{
    top: 25%;
    right: 0;  
  }
  .hamburguer:hover + .lista_cursos{
    right: 0;
  }
}
/* Menu de navegacion */
section{
  display: none;
  position: relative;
  max-width: 80%;
  margin: 0 auto;
  z-index: 1;
  /*  */
  flex-flow: row;
  overflow: hidden;
  transition: all .3s ease;
}
.welcome{
  min-height: 100vh;
  max-width: 80%;
  padding-top: 6rem;
  margin: 0 auto;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
#mensaje{
  color: burlywood;
  font-size: 1rem;
  text-align: center;
}
@media(max-width: 720px){
  section{
    max-width: 100%;
    padding: 5px;
    margin: 5px;
  }
}
.encabezado{
  padding: 6rem 20px;
  margin-right: 20px;
  min-width: 100%;
  font-family: serif;
}
@media(max-width: 720px){
  .encabezado{
    margin-top: 5px;
    padding: 0 10px 6rem;    
  }
}

.encabezado > h3{
  text-align: center;
}
.encabezado h3::after{
  content: '';
  display: block;
  margin: 0 auto;
  width: 50%;
  height: 3px;
  background-color: rgba(0, 0, 0, 0.3);
}
/*barra general*/
.lista_cursos::-webkit-scrollbar{
  height: 5px;
}
/*fondo de barra*/
.lista_cursos::-webkit-scrollbar-track{
  background: #6c757d;
}
/*posicion en la barra*/
.lista_cursos::-webkit-scrollbar-thumb{
  background: rgba(0, 0, 0, .5);
  border-radius: 10px;
}
/*hover posicion de barra*/
.lista_cursos::-webkit-scrollbar-thumb:hover{
  background: steelblue;
}
pre {
  background: #333333;
  color: #c7cedb;
  tab-size: 2;
}
pre span{
  color: var(--commentColor);
}
pre span.fn{
  color: var(--code_fn);
}

/*barra general*/
pre::-webkit-scrollbar{
  height: 5px;
}
/*fondo de barra*/
pre::-webkit-scrollbar-track{
  background: #6c757d;
}
/*posicion en la barra*/
pre::-webkit-scrollbar-thumb{
  background: var(--commentColor);
  border-radius: 10px;
}
/*hover posicion de barra*/
pre::-webkit-scrollbar-thumb:hover{
  background: steelblue;
}

/* TABLEs */
table{
  min-width: 100%;
  background-color: #c7cedb;
}
table th{
  text-align: right;
}
table td{
  padding: 10px;
}



/* VELAS JAPONESAS */
.velasjaponesas{
  display: flex;
  justify-content: space-evenly;
}
.velasjaponesas ul{
  list-style: none;
}
.vela{
  writing-mode: vertical-lr;
  letter-spacing: -2px;
  display: inline-block;
}
.vela .alcista{
  color: #026e00;
}
.vela .bajista{
  color: red;
}

/*  LAYOUT EXAMPLE  */
#layout{
  display: flex;
  height: 40vh;
  flex-direction: column;           /*posiciona elementos uno sobre otro*/
  background-color: white;
}
.header{
  outline: 1px dashed lime;
  height: 4rem;
}
.contenedor{
  outline: 1px dashed rebeccapurple;
  display: flex;                    /*un flex-item puede ser tambien un flex container*/
  height: 100%;
}
.contenido{
  outline: 1px dashed red;
  flex: 1;
}
.aside{
  outline: 1px dashed blue;
  flex-basis: 30%;
  /* flex: flex-grow, flex-shrink, flex-basis; */
  /*puede crecer, puede reducirse, ancho fijo inicial*/  
}
.footer{
  outline: 1px dashed royalblue;
  margin-top: auto;                 /*un margin-top: auto; dentro de un hijo flex, posicionara el elemento hasta el final */  
}
.menu{
  display: flex;
  height: inherit;                  /*hereda la altura del header*/
  padding-left: 0;
}
.menu-item{
  list-style: none;
  outline: 1px dashed magenta;
  line-height: 4rem;                /*tener el line-height: altura-del-padre; alinea automaticamente el texto al centro*/
  flex: 1;
  text-align: center;
  transition: flex  0.5s ease-in-out; /*elemento animado, duracion, efecto*/
}
.menu-item:hover{
  flex: 2;
}
/*  LAYOUT EXAMPLE  */


/* TOGGLER EXAMPLE */
.css-toggler{
  background-color: lightseagreen;
}
.enabled{          /* true oculto por defecto */
  display: none;
}
.toggler:checked ~ .enabled{ /* en checked true se muestra*/
  display: inline-block;
}
.toggler:checked ~ .disabled{ /* en checked false se oculta */
  display: none;
}
/* TOGGLER EXAMPLE */

/* RESPONSIVE NAV EXAMPLE */
.pseudo_page{
  background-color: whitesmoke;
  height: 40vh;
}
.res_nav{
  position: relative;
  width: 100%;
}
.res_hamburguesa{
  display: none;
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 3;
}
.res_linea{
  width: 30px;
  height: 3px;
  margin: 5px;
  background: #333333;
  transition: .3s;
  border-radius: 5px;
}
.res_hamburguesa:hover .res_linea:nth-of-type(1){
  transform: rotate(45deg) translate(0, 10px);
}
.res_hamburguesa:hover .res_linea:nth-of-type(2){
  opacity: 0;
}
.res_hamburguesa:hover .res_linea:nth-of-type(3){
  transform: rotate(-45deg) translate(0, -10px);
}
.res_menu{
  display: flex;
  max-width: 100%;
  background-color: black;
}
.res_menu_item{
  display: block;
  color: white;
  text-decoration: none;
  margin-left: 5px;
}

@media(max-width: 620px){
  .res_nav .res_hamburguesa{
    display: block;
  }
  .res_menu{
    display: block;
    position: relative;
    width: 100vw;
    height: 100%;
    top: 30px;
    left: -102vw;
    transition: .3s;
  }
  .res_hamburguesa:hover + .res_menu{
    left: 0;
  }

}

/* BOX-MODEL EXAMPLE */
#box-model{
  padding: 1px;                      /* padding "simbolico" para evitar el colapsado de margen vertical */
  width: 100%;
  height: 300px;
  background-color: whitesmoke;
}
[class^="box"]{
  margin-top: 0;                     /* si el padre no tiene un padding, este margen se encima verticalmente */
  width: 150px;                      /* ancho fijo */
  height: 150px;                     /* altura fija */
  background-color: red;           /* color de fondo */
  border: 10px dotted black;       /* el borde se crea dentro del modelo de caja (box-sizing: border-box;) */
  padding: 10px;                     /* el padding es espaciado entre contenido y borde */ 
  margin-left: auto;                 /* teoricamente, es la manera correcta de centrar un elemento */
  margin-right: auto;
}
.box-2{
  background-color: transparent;
  padding: 0;
  border: 75px solid;
  border-color: teal transparent transparent;
}

#sect1{
  background-color: var(--aprendizaje);
}
#sect2{
  background-color: var(--desarrolloweb);
}
#sect3{
  background-color: var(--github);
}
#sect4{
  background-color: var(--javascript);
}
#sect5{
  background-color: var(--react);
}
#sect6{
  background-color: var(--redux);
}
#sect10{
  background-color: var(--trading);
}
#sect11{
  background-color: var(--nodejs);
}
#sect13{
  background-color: var(--ircserver);
}
#sect14{
  background-color: var(--engcourse);
}
#sect15{
  background-color: var(--xamppstack);
}
#sect16{
  background-color: var(--fitness);
}
#sect17{
  background-color: var(--recetas);
}
#sect8{
  background-color: var(--pwa);
}

.listado_temas{
  position: fixed;
  display: flex;
  overflow: auto;
  height: 3rem;
  top: 3rem;
  width: 80%;
  background-color: lightslategrey;
  transition: all .3s;
}
.listado_temas a{
  display: block;
  border-radius: 25px;
  white-space: nowrap;
  text-decoration: none;
  color: #333333;
  padding: 10px;
}
@media (max-width: 720px){
  .listado_temas{
    width: 100%;
    top: initial;
    left: 0;
    bottom: 3rem;
  }
}
/*barra general*/
.listado_temas::-webkit-scrollbar{
  height: 5px;
}
/*fondo de barra*/
.listado_temas::-webkit-scrollbar-track{
  background: rgba(0, 0, 0, .1);
}
/*posicion en la barra*/
.listado_temas::-webkit-scrollbar-thumb{
  background: rgba(0, 0, 0, .5);
  border-radius: 10px;
}
/*hover posicion de barra*/
.listado_temas::-webkit-scrollbar-thumb:hover{
  background: steelblue;
}

/* Notas de Cornell */
.cornell{
  display: flex;
  flex-direction: column;
  min-height: 80vh;
  background-color: honeydew;
  margin-bottom: 10px;
  box-shadow: 0 0 2px 2px gray;
}
.cornell div{
  padding: 10px;
}
.cornell .tema{
  width: 100%;
  min-height: 3rem;
  text-align: center;
  border-bottom: 1px solid rgba(0, 0, 0, .5);
}
.cornell .contenido{
  padding: 0!important;
  display: flex;
  position: relative;
  outline: none;
  border-bottom: 1px solid rgba(0, 0, 0, .5);
}
.cornell .contenido ul{
  list-style: none;
}
.cornell .glosario{
  flex-basis: 20%;
  border-bottom: 1px solid rgba(0, 0, 0, .5);
  transition: .3s;
}
.cornell .notas{
  flex: 1;
}
.cornell .resumen{
  min-height: 20vh;
}
@media (max-width: 720px){
  .cornell .notas{
    padding-top:2rem ;
  }
  .glosario{
    position: absolute;
    top: 0;
    overflow: hidden;
    width: 100%;
    background-color: honeydew;
    height: 2rem;  
  }
  .glosario::before{
    content: 'glosario';
    display: block;
    line-height: 1rem;
    text-align: center;
  }
  .glosario:hover{
    height: auto;
  }
}
/* ToDo class */
/* .todo-class{
  background-image: linear-gradient(120deg, #e2c35d, #d88771);
} */
.todo-form{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.todo-form input, .todo-form button{
  padding: 0.5rem;
  border: none;
  background: none;
  outline: none;
}
.todo-form input{
  color: powderblue;
  width: 100%;
  transition: .3s;
}
.todo-form input:focus{
  box-shadow: 0px -10px 10px -10px #ff6f47 inset;
}
.todo-form::before{
  content: '';
  position: absolute;
  bottom: -2px;
  width: 100%;                        /*este efecto se aregara con js*/
  height: 2px;
  background-color: #ff6f47;   /*cubre el fondo gris del bottom del div */
  transition: .3s;
}

.icon-plus{
  vertical-align: baseline;
}
.todo-form button{
  color: #d88771;
  cursor: pointer;
  transition: all  0.3s ease;
}
/* .todo-form button:hover{
  background: #d88771;
  color: white;
} */
.todo-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.todo-list{
  width: 50%;
  list-style: none;
  padding-left: 0;
}
@media(max-width: 720px){
  .todo-list{
    width: 100%;
  }
}

.todo{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem;
  color: cadetblue;
  transition: all .5s ease;
  background-color: #081b2b;
  border-radius: 5px;
}
.todo li{
  flex: 1;
}
.trash-btn, .complete-btn{
  cursor: pointer;
  color: #32d39f;
  background: none;
  border: none;
  outline: none;
}
.trash-btn{
  background-color: #555;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: crimson;
}
.complete-btn{
  background: none;
}
.todo-item{
  padding: 0rem 0.5rem ;
}
.completed{
  text-decoration: line-through;
  opacity: 0.5;
}
.fall{
  transform: translateY(6rem) rotateZ(20deg);
  opacity: 0;
}
select{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: none;
}
.select{
  margin: 1rem;
  position: relative;
  overflow: hidden;
}
select{
  color: #ff6f47;
  width: 8rem;
  cursor: pointer;
  padding: .5rem;
}
.select::after{
  content: '\25BC';
  position: absolute;
  background: #ff6f47;
  pointer-events: none;
  top: 0;
  right: 0;
  padding: .5rem;
  transition: all .3s ease;
}
.select:hover::after{
  background: #ffffff;
  color: #ff6f47;
}
.icon-trash, .icon-check{
  pointer-events: none; /* Esto es para evitar el error de dar click en el icono */
}                        /* y que el evento "traspase" al boton */


/* Estilizado del input */
.input-div{
  position: relative;
  display: grid;
  grid-template-columns: 7% 93%;
  margin: 25px 0;
  padding: 5px 0;
  border-bottom: 2px solid #d9d9d9;
}
.input-div::after, .input-div::before{
  content: '';
  position: absolute;
  bottom: -2px;
  width: 0;                        /*este efecto se aregara con js*/
  height: 2px;
  background-color: #32d39f;   /*cubre el fondo gris del bottom del div */
  transition: .3s;
}
.input-div::after{
  right: 50%;
}
.input-div::before{
  left: 50%;
}
.input-div.focus .i i{
  color: #38d39f;
}
.input-div.focus div label{
  top: -5px;
  font-size: 15px;
}
.input-div.focus::after, .input-div.focus::before{
  width: 50%;
}
.input-div > div{
  position: relative;
}
.input-div > div label{
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: gray;
  font-size: 18px;   
  transition: .3s;
}
.input{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border: none;        /* con estos 3 teoricamente desaparece el inpur */
  outline: none;         
  background: none;   
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
  padding: .5rem .7rem;
  font-size: 1.2rem;
  color: #555;
}

.tarea{
  display: flex;
  color: white;
  justify-content: space-evenly;
}