html {                                  /*Este Snippet "Corrige" un buen uso del paddin sin afectar el width */
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body{
  height: 100%;
}

header{
  text-align: center;
}

section{
  padding: 20px;
  max-width: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}
@media(max-width:600px){
  section{
    max-width: 100%;
    padding: 5px;
    margin: 0 5px 5px 5px;
  }
  nav{
    max-width: 100%!important;
    padding: 0 5px 0 5px;
    margin: 0 5px 0 5px!important;
  }
}
h4 {
  padding: 20px;
  margin: 0!important;
  cursor: pointer;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;  
}
nav{
  margin: 0 auto;
  max-width: 80%;
  display: flex!important;
  overflow: auto;
  justify-content: space-between;
}
/*barra general*/
nav::-webkit-scrollbar{
  height: 5px;
}
/*fondo de barra*/
nav::-webkit-scrollbar-track{
  background: rgba(0, 0, 0, .1);
}
/*posicion en la barra*/
nav::-webkit-scrollbar-thumb{
  background: rgba(0, 0, 0, .5);
  border-radius: 10px;
}
/*hover posicion de barra*/
nav::-webkit-scrollbar-thumb:hover{
  background: steelblue;
}

pre {
  background: #333333;
  color: #ffffff!important;
  tab-size: 2;
}


/*  LAYOUT EXAMPLE  */
#layout{
  display: flex;
  height: 40vh;
  flex-direction: column;           /*posiciona elementos uno sobre otro*/
  background-color: white;
}
.header{
  outline: 1px dashed lime;
  height: 4rem;
}
.contenedor{
  outline: 1px dashed rebeccapurple;
  display: flex;                    /*un flex-item puede ser tambien un flex container*/
  height: 100%;
}
.contenido{
  outline: 1px dashed red;
  flex: 1;
}
.aside{
  outline: 1px dashed blue;
  flex-basis: 30%;
  /* flex: flex-grow, flex-shrink, flex-basis; */
  /*puede crecer, puede reducirse, ancho fijo inicial*/  
}
.footer{
  outline: 1px dashed royalblue;
  margin-top: auto;                 /*un margin-top: auto; dentro de un hijo flex, posicionara el elemento hasta el final */  
}
.menu{
  display: flex;
  height: inherit;                  /*hereda la altura del header*/
  padding-left: 0;
}
.menu-item{
  list-style: none;
  outline: 1px dashed magenta;
  line-height: 4rem;                /*tener el line-height: altura-del-padre; alinea automaticamente el texto al centro*/
  flex: 1;
  text-align: center;
  transition: flex  0.5s ease-in-out; /*elemento animado, duracion, efecto*/
}
.menu-item:hover{
  flex: 2;
}
/*  LAYOUT EXAMPLE  */


/* TOGGLER EXAMPLE */
.css-toggler{
  background-color: lightseagreen;
}
.enabled{          /* true oculto por defecto */
  display: none;
}
.toggler:checked ~ .enabled{ /* en checked true se muestra*/
  display: inline-block;
}
.toggler:checked ~ .disabled{ /* en checked false se oculta */
  display: none;
}
/* TOGGLER EXAMPLE */

/* BOX-MODEL EXAMPLE */
#box-model{
  padding: 1px;                      /* padding "simbolico" para evitar el colapsado de margen vertical */
  height: 300px;
  background-color: whitesmoke;
}
[class^="box"]{
  margin-top: 0;                     /* si el padre no tiene un padding, este margen se encima verticalmente */
  width: 150px;                      /* ancho fijo */
  height: 150px;                     /* altura fija */
  background-color: red;           /* color de fondo */
  border: 10px dotted black;       /* el borde se crea dentro del modelo de caja (box-sizing: border-box;) */
  padding: 10px;                     /* el padding es espaciado entre contenido y borde */ 
  margin-left: auto;                 /* teoricamente, es la manera correcta de centrar un elemento */
  margin-right: auto;
}
.box-2{
  background-color: transparent;
  padding: 0;
  border: 75px solid;
  border-color: teal transparent transparent;
}

#sect1{
  background-color: #fd7d7a;
}
#sect2{
  background-color: #14A466;
}
#sect3{
  background-color: #95c73f;
}
#sect4{
  background-color: #f6e01c;
}
#sect5{
  background-color: #68e4f9;
}
#sect6{
  background-color: #65f49f;
}
#sect10{
  background-color: #d7972c;
}

#sect11{
  background-color: #026e00;
}

#sect13{
  background-color: #4B86EE;
}
#sect14{
  background-color: #aa3d36;
}
#sect15{
  background-color: #fb7a24;
}

iframe{
  width: 100%;
}

/* Notas de Cornell */
.cornell{
  display: flex;
  flex-direction: column;
  height: 100vh;
  border: crimson 1px dotted;
  background-color: honeydew;
}
.tema{
  width: 100%;
  height: 3rem;
  border: cyan 1px dotted;
}
.contenido{
  display: flex;
  border: darkviolet 1px dotted;
}
.notas{
  flex: 1;
  border: green 1px dotted;
}
.glosario{
  flex-basis: 20%;
  border: red 1px dotted;
}
.resumen{
  height: 20vh;
  border: blueviolet 1px dotted;
}